@media (min-width: 960px) {
  .VPFeatures .container {
    max-width: 1320px;
  }

  .VPFeatures .items {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 640px) and (max-width: 959px) {
  .VPFeatures .items {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 639px) {
  .VPFeatures .items {
    grid-template-columns: minmax(0, 1fr);
  }
}
